.m{
    width: 10px;
    height: 25px;
    border-radius: 20px;
    border: 1pz solid black;
    background-color: brown;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

}

.t-icon{
    width: 15px;
    height: 15px;
}

.m-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    cursor: pointer;
    left:25px;
}